.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 2px solid black;
  border-radius: 16px;
  max-width: 400px;
  width: 100%;
}

.tile {
  color: black;
  border: 2px solid black;
  border-radius: 16px;
  aspect-ratio: 1/1;
  font-size: min(48px, 10vw);
  background-color: rgb(198, 197, 197);
  margin: 10px;
}

.tile_flipped {
  border: unset;
  background-color: unset;
}

.tile:not(:disabled) {
  cursor: pointer;
}

.tile:not(:disabled):hover {
  background-color: #fafafa;
}
