.grid_container {
  display: grid;
  max-width: 400px;
  width: 100%;
  border: 1px solid black;
  grid-gap: 8px;
  padding: 16px;
}

.cell {
  border: 1px solid black;
  background-color: white;

  aspect-ratio: 1 / 1;
}

.cell_filled {
  background-color: aquamarine;
}

.cell:not(:disabled) {
  cursor: pointer;
}
