.clock {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: relative;
    border: 2px solid rgb(176, 176, 176);
    transform: rotate(180deg); /* optional: clocks hands will face down and have to offset by 180 for pure calculation */ 
}

.clock_hand {
    position: absolute;
    top: 200px; /* align to center of the clock */
    left: 200px; /* align to center of the clock */
    background-color: rgb(155, 154, 154);
    transform-origin: top center; /* to rotate about top center edge of the hand instead of default height and width center  */
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; 
}

.clock_hand_second {
    height: 140px;
    width: 1px;
}

.clock_hand_minute {
    height: 150px;
    width: 3px;
}

.clock_hand_hour {
    height: 120px;
    width: 3px;
}